<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917318799445-m9hgtig83ttv6fehsd7ci5jg286r21ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917318799445-m9hgtig83ttv6fehsd7ci5jg286r21ge</string>
	<key>API_KEY</key>
	<string>AIzaSyBQiZGqZM5qL7Gb8TgBBD2qHQc1lywUgfk</string>
	<key>GCM_SENDER_ID</key>
	<string>917318799445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NightOutAppUI</string>
	<key>PROJECT_ID</key>
	<string>nightout-d5030</string>
	<key>STORAGE_BUCKET</key>
	<string>nightout-d5030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917318799445:ios:6172903fd93fe46c4a84dc</string>
	<key>DATABASE_URL</key>
	<string>https://nightout-d5030.firebaseio.com</string>
</dict>
</plist>